absl-py==2.4.0
ackermann-msgs==2.0.2
action-msgs==2.0.3
action-tutorials-interfaces==0.33.10
action-tutorials-py==0.33.10
actionlib-msgs==5.3.7
actuator-msgs==0.0.1
alembic==1.18.5
ament-cmake-test==2.5.6
ament-copyright==0.17.5
ament-cppcheck==0.17.5
ament-cpplint==0.17.5
ament-flake8==0.17.5
ament-index-python==1.8.2
ament-lint==0.17.5
ament-lint-cmake==0.17.5
ament-package==0.16.5
ament-pep257==0.17.5
ament-uncrustify==0.17.5
ament-xmllint==0.17.5
angles==1.16.1
annotated-types==0.7.0
ansitable==0.11.5
asttokens==3.0.2
astunparse==1.6.3
attrs==26.1.0
builtin-interfaces==2.0.3
casadi==3.7.2
certifi==2026.6.17
cfgv==3.5.0
charset-normalizer==3.4.7
click==8.4.2
cloudpickle==3.1.2
colored==2.3.2
colorlog==6.10.1
comm==0.2.3
composition-interfaces==2.0.3
contourpy==1.3.3
control-msgs==5.9.0
controller-manager==4.45.2
controller-manager-msgs==4.45.2
cuda-bindings==13.3.1
cuda-pathfinder==1.5.5
cuda-toolkit==13.0.2
cv-bridge==4.1.0
cycler==0.12.1
debugpy==1.8.21
decorator==5.3.1
demo-nodes-py==0.33.10
diagnostic-msgs==5.3.7
diagnostic-updater==4.2.6
distlib==0.4.3
dm-tree==0.1.10
domain-coordinator==0.12.0
e==1.4.5
etils==1.14.0
example-interfaces==0.12.0
examples-rclpy-executors==0.19.7
examples-rclpy-minimal-action-client==0.19.7
examples-rclpy-minimal-action-server==0.19.7
examples-rclpy-minimal-client==0.19.7
examples-rclpy-minimal-publisher==0.19.7
examples-rclpy-minimal-service==0.19.7
examples-rclpy-minimal-subscriber==0.19.7
executing==2.2.1
Farama-Notifications==0.0.6
filelock==3.29.4
flatbuffers==25.12.19
fonttools==4.63.0
fsspec==2026.6.0
gast==0.7.0
generate-parameter-library-py==0.7.1
geometry-msgs==5.3.7
glfw==2.10.0
google-pasta==0.2.0
gps-msgs==2.1.2
graph-msgs==0.2.0
greenlet==3.5.3
grpcio==1.82.1
gym==0.26.2
gym-notices==0.1.0
gymnasium==1.2.2
h5py==3.14.0
hilo-mpc==2.1.1
identify==2.6.19
idna==3.18
image-geometry==4.1.0
ImageIO==2.37.3
interactive-markers==2.5.5
ipykernel==7.3.0
ipython==9.15.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=jetcobot_driver&subdirectory=build/jetcobot_driver
-e git+https://github.com/sudishp123/ROS2_MPC-DRL_Manipulation.git@afe2d131098842aab0499b9007f9ec58fdd1c4c5#egg=jetcobot_drl
Jinja2==3.1.6
joint-state-publisher==2.4.1
joint-state-publisher-gui==2.4.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.9.1
jupyter_core==5.9.1
keras==3.15.0
kiwisolver==1.5.0
laser-geometry==2.7.2
launch==3.4.10
launch-param-builder==0.1.1
launch-ros==0.26.11
launch-testing==3.4.10
launch-testing-ros==0.26.11
launch-xml==3.4.10
launch-yaml==3.4.10
libclang==18.1.1
lifecycle-msgs==2.0.3
logging-demo==0.33.10
lxml==6.1.1
lz4==4.4.5
Mako==1.3.12
map-msgs==2.4.1
marine-acoustic-msgs==2.1.0
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.1
matplotlib-inline==0.2.2
mdurl==0.1.2
message-filters==4.11.12
ml_dtypes==0.5.4
more-interfaces==0.0.0
moveit-configs-utils==2.12.4
moveit-msgs==2.6.0
mpmath==1.3.0
msgpack==1.2.1
mujoco==3.10.0
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=my_package&subdirectory=build/my_package
namex==0.1.0
nav-msgs==5.3.7
nest-asyncio2==1.7.2
networkx==3.6.1
nodeenv==1.10.0
numpy==1.26.4
nvidia-cublas==13.1.1.3
nvidia-cublas-cu12==12.9.2.10
nvidia-cuda-cupti==13.0.85
nvidia-cuda-cupti-cu12==12.9.79
nvidia-cuda-nvcc-cu12==12.9.86
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-nvrtc-cu12==12.9.86
nvidia-cuda-runtime==13.0.96
nvidia-cuda-runtime-cu12==12.9.79
nvidia-cudnn-cu12==9.24.0.43
nvidia-cudnn-cu13==9.20.0.48
nvidia-cufft==12.0.0.61
nvidia-cufft-cu12==11.4.1.4
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-curand-cu12==10.3.10.19
nvidia-cusolver==12.0.4.66
nvidia-cusolver-cu12==11.7.5.82
nvidia-cusparse==12.6.3.3
nvidia-cusparse-cu12==12.5.10.65
nvidia-cusparselt-cu13==0.8.1
nvidia-nccl-cu12==2.30.7
nvidia-nccl-cu13==2.29.7
nvidia-nvjitlink==13.0.88
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
opt_einsum==3.4.0
optree==0.19.1
optuna==4.9.0
ormsgpack==1.12.2
osrf-pycommon==2.1.7
packaging==26.2
pal-statistics==2.7.0
pal-statistics-msgs==2.7.0
pandas==3.0.3
parso==0.8.7
pcl-msgs==1.0.0
pendulum-msgs==0.33.10
pexpect==4.9.0
pgraph-python==0.6.4
pillow==12.2.0
platformdirs==4.11.0
pre_commit==4.6.1
prettytable==3.18.0
progress==1.6.1
prompt_toolkit==3.0.52
protobuf==7.35.1
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=py_pubsub&subdirectory=build/py_pubsub
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=py_srvcli&subdirectory=build/py_srvcli
pyarrow==24.0.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
PyOpenGL==3.1.10
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-discovery==1.5.0
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=python_parameters&subdirectory=build/python_parameters
python-qt-binding==2.2.2
PyYAML==6.0.3
pyzmq==27.1.0
qt-dotgraph==2.7.6
qt-gui==2.7.6
qt-gui-cpp==2.7.6
qt-gui-py-common==2.7.6
quality-of-service-demo-py==0.33.10
ray==2.55.1
rcl-interfaces==2.0.3
rclpy==7.1.11
rcutils==6.7.5
referencing==0.37.0
requests==2.34.2
resource-retriever==3.4.4
rich==15.0.0
rllib==0.0.1
rlmodule==0.1.7
rmw-dds-common==3.1.1
roboticstoolbox-python==1.3.1
ros-gz-bridge==1.0.22
ros-gz-interfaces==1.0.22
ros-gz-sim==1.0.22
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=ros2_controllers_test_nodes&subdirectory=build/ros2_controllers_test_nodes
ros2action==0.32.9
ros2bag==0.26.10
ros2bag-mcap-cli==0.26.10
ros2bag-sqlite3-cli==0.26.10
ros2cli==0.32.9
ros2component==0.32.9
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=ros2controlcli&subdirectory=build/ros2controlcli
ros2doctor==0.32.9
ros2interface==0.32.9
ros2launch==0.26.11
ros2lifecycle==0.32.9
ros2multicast==0.32.9
ros2node==0.32.9
ros2param==0.32.9
ros2pkg==0.32.9
ros2plugin==5.4.5
ros2run==0.32.9
ros2service==0.32.9
ros2topic==0.32.9
rosbag2-interfaces==0.26.10
rosbag2-py==0.26.10
rosgraph-msgs==2.0.3
rosidl-adapter==4.6.7
rosidl-cli==4.6.7
rosidl-cmake==4.6.7
rosidl-generator-c==4.6.7
rosidl-generator-cpp==4.6.7
rosidl-generator-py==0.22.2
rosidl-generator-rs==0.4.11
rosidl-generator-type-description==4.6.7
rosidl-parser==4.6.7
rosidl-pycommon==4.6.7
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.3
rosidl-typesupport-fastrtps-cpp==3.6.3
rosidl-typesupport-introspection-c==4.6.7
rosidl-typesupport-introspection-cpp==4.6.7
rpds-py==2026.5.1
rpyutils==0.4.2
rqt-action==2.2.1
rqt-bag==1.5.6
rqt-bag-plugins==1.5.6
rqt-console==2.2.2
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=rqt_controller_manager&subdirectory=build/rqt_controller_manager
rqt-graph==1.5.6
rqt-gui==1.6.3
rqt-gui-py==1.6.3
-e git+ssh://git@github.com/sudishp123/ros2_ws.git@1f617029dd1654e40c7efd765bdc0e2d1b0ec063#egg=rqt_joint_trajectory_controller&subdirectory=build/rqt_joint_trajectory_controller
rqt-msg==1.5.2
rqt-plot==1.4.5
rqt-publisher==1.7.3
rqt-py-common==1.6.3
rqt-py-console==1.2.3
rqt-reconfigure==1.6.4
rqt-service-caller==1.2.2
rqt-shell==1.2.3
rqt-srv==1.2.3
rqt-topic==1.7.5
rtb-data==1.1.0
scipy==1.17.1
sensor-msgs==5.3.7
sensor-msgs-py==5.3.7
service-msgs==2.0.3
setuptools==81.0.0
shape-msgs==5.3.7
simulation-interfaces==1.5.0
six==1.17.0
skrl==2.1.0
spatialmath-python==1.1.16
SQLAlchemy==2.0.51
srdfdom==2.0.7
sros2==0.13.6
stable_baselines3==2.9.0
stack-data==0.6.3
statistics-msgs==2.0.3
std-msgs==5.3.7
std-srvs==5.3.7
stereo-msgs==5.3.7
sympy==1.14.0
teleop-twist-keyboard==2.4.1
tensorboard==2.21.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.5
tensorflow==2.21.0
termcolor==3.3.0
test-msgs==2.0.3
tf2-geometry-msgs==0.36.20
tf2-kdl==0.36.20
tf2-msgs==0.36.20
tf2-py==0.36.20
tf2-ros-py==0.36.20
tf2-sensor-msgs==0.36.20
tf2-tools==0.36.20
theora-image-transport==4.0.6
topic-monitor==0.33.10
torch==2.12.1
tornado==6.5.7
tqdm==4.68.4
train==0.0.5
traitlets==5.15.1
trajectory-msgs==5.3.7
turtlesim==1.8.3
tutorial-interfaces==0.0.0
type-description-interfaces==2.0.3
typing-inspection==0.4.2
typing_extensions==4.16.0
unique-identifier-msgs==2.5.0
urdfdom-py==1.2.1
urllib3==2.7.0
virtualenv==21.7.0
vision-msgs==4.1.1
visualization-msgs==5.3.7
warehouse-ros-mongo==2.0.3
wcwidth==0.8.2
Werkzeug==3.1.8
wheel==0.47.0
wrapt==2.2.2
xacro==2.1.1
zipp==4.1.0
